/** many of these class names are depended on in JavaScript **/

.reveal {display: none;} /* used as a hook in common JS functions */
.hidden {display: none;} /* must be shown manually */


div.page.map_parent {height: 100%;}

div.map.container, div.map_canvas {width: 100%; height: 100%; padding: 0px;}
div.map.buttons {
  position: fixed; z-index: 9; width: 100%; bottom: 0; padding-top: 10px; padding-bottom: 10px;
	background: url('images/bg_collapsible_header.jpg') center center repeat-x ;
}

table.data {width: 100%;}
table.data thead th {}
table.data tbody th {font-weight: 700;}
table.data tbody td {}



h1{
	text-transform: uppercase;
	color: #aeaeae;
	font-weight: 400;
}

.ui-bar-a .ui-header{
	text-transform: capitalize;
}


#suppliers p, #index p, #drugs p{
	text-align: center;
	line-height: 1.5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	border: none;
	margin: 0;
	text-shadow: none;
	padding: 0 10px 10px 10px;
	font-size: 14px;
}

#about .content-banner p, #methodology .content-banner p, #disclaimer .content-banner p{
	text-align: left;
	line-height: 1.5;
	padding-top: 7px;
	font-size: 14px;
}
#about .ui-content, #methodology .ui-content, #disclaimer .ui-content{
	margin: 20px 10px;
}
.foundations{
	background: url('images/foundation_border.png') top center repeat-x;
	margin-top: 20px;
	padding-top: 10px;
	font-style: italic;
}


.content-banner h1{
	background: url('images/SunlightHealth_logo.png') center top no-repeat;
	width: 190px;
	height: 165px;
	text-indent: -9999em;
	margin: auto;
}



.page{
    background: url('images/bg_grid.jpg') center top repeat;
}

/*#suppliers .content-banner, #drugs .content-banner{
	background: url('images/content-banner-suppliers.png') top center repeat-x;
	height: 237px;
	padding: 7px;
}*/

#about .ui-body-c, #methodology .ui-body-c, #disclaimer.ui-body-c{
	background: none;
	padding-top: 10px;
}

.ui-body-c{
	text-shadow: none;
}

#about .content-banner, #methodology .content-banner, #disclaimer .content-banner {
	background-image: -moz-linear-gradient(top, #007592 0%, #5190AA 8%, #007592 16%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007592), color-stop(8%,#5190AA), color-stop(16%,#007592)); /* webkit */
	padding: 7px;
	border: none;
	margin: 0;
}

.content-banner {
	background-image: -moz-linear-gradient(top, #007592 0%, #5190AA 50%, #007592 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007592), color-stop(50%,#5190AA), color-stop(100%,#007592)); /* webkit */
	padding: 7px;
	border: none;
	margin: 0;
}
.scallop{
	background: url('images/bg_header_scallop.png') top center repeat-x;
	height: 27px;
	width: 100%;
	margin-top: -2px; /* This hides that wacky blue border that shows up on Android devices under pngs and CSS3 gradients. */
	margin-bottom: 0;
	border: none;	
}
#facility_detail .scallop{
	margin-top: -2px; /* This hides that wacky blue border that shows up on Android devices under pngs and CSS3 gradients. */
}
h3.name{
	text-shadow: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	letter-spacing: 1.5px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.address{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
.top{
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}
.content-banner p.phone{
	font-weight: 700;
}
#facility_detail .content-banner p.phone{
	margin-bottom: 9px;
}

#supplier_detail .ui-content{
	color: #4c4c4c;
}

.data thead>tr>th{
	font-size: 12px;
}
	
.data tr>th{
	padding-right: 5px;
	width: 90%;
	text-align: left;
}	

table.data td.hosp, table.data th.hosp, table.data td.state, table.data th.state{
	text-transform: uppercase;
}

.max-width-480px th{
	text-align: left;
}
table.data{
	border-collapse:collapse;
	font-size: 14px;
}	
#supplier_map .ui-bar-a{
	top:0;
	position:absolute;
	width:100%;
	z-index:9;
}

.gmnoprint{ 
	top: 50px;
}
#supplier_map .buttons{
	opacity:0.95 !important;
	background: url('images/bg_search_hover.png');
	padding-top: 15px;
	padding-bottom: 15px;
}

.buttons.ui-grid-a{
	padding-bottom: 10px;
}
tr.odd{
	background-color: #e1e2e3;
	padding-top: 5px;
}

.data th, .data td{
	padding: 10px 8px;
}
.data tbody th{
	padding-left: 8px;
	overflow:hidden;
	display: block;
}
tr.even{
	
}
#drug_chemical .data td{
	text-align: right;
}
#suppliers, #suppliers_list, #suppliers_detail{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
}
.top dt{
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 15px;
	text-align: right;
	width: 100px;
	line-height: 1.5;
}

.top dd{
	line-height: 1.5;
}

td.cost{
	color: #4c4c4c;
	font-weight: 700;
	padding-right: 10px;
}

.notes{
	color: #4c4c4c;
	font-size: 90%;
}


.notes dt{
	font-weight: 700;
	padding-right: 15px;
	line-height: 1.5;
	width: 80%;
	margin-top: 10px;
	text-shadow: none;
}

.notes dd{
	line-height: 1.5;
	text-align: left;
	margin: 0;
	font-weight: 400;
	text-shadow: none;
	
}

.clear{
	clear: both;
}

.ui-collapsible-content h2 {
	color: #ffffff;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 10px;
	background-color: #898989;
	padding-top: 8px;
	padding-bottom: 6px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #4F4F4F;
	border-top: 1px solid #4F4F4F;
}
#facilities_list .more{
	background-color: #898989;
	background-image: none;
	text-align: center;
	border-top: 1px solid #4F4F4F;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	
}
#facilities_list .more:hover{
	background-color: #707070;
	background-image: none;
	text-align: center;
	border-top: 1px solid #4F4F4F;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	
}
h3.dosage{
	color: #006f8b;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 90%;
	text-align: left;
	margin-top: 0;
	padding-top: 4px;
	padding-top: 4px;
	margin-bottom: 0;
	letter-spacing: normal;
	
}

tr.best-buy{
}

.best-buy h3{

}
.description{
	color: #4c4c4c;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 	79%;
	line-height: 1.25;
}
.chemicals li.ui-li-divider{
	padding-left: 25px;
	background: none;
	background-color: #898989;
}

#drug_chemical{
	padding-bottom: 50px;
}

.more{
	background:url('images/bg_more.png') center top repeat-x;
	height: 30px;
	padding: 10px 10px 0 10px;
	margin: 0;
	text-shadow: none;
}

.more a:link{
	background:url('images/more_arrows.png') right top no-repeat;
	padding-right: 20px;
	font-style: oblique;
	color: #818181;
	font-size: 14px;
}
.more a:visited, .drug_class a:visited.ui-link{
	color: #818181;
}
.drug_class a:link.ui-link{
	background:url('images/more_arrows.png') right top no-repeat;
	padding-right: 20px;
	font-style: oblique;
	color: #818181;
	font-size: 14px;
}
#about .content-banner a:link, #methodology .content-banner a:link, #disclaimer .content-banner a:link{
	font-style: oblique;
	color: #D7CA57;
	font-size: 14px;
}
#about .content-banner a:hover, #methodology .content-banner a:hover, #disclaimer .content-banner a:hover{
	font-style: oblique;
	color: #333333;
	font-size: 14px;
}
#about .content-banner a:visited, #methodology .content-banner a:visited, #disclaimer .content-banner a:visited{
	color: #D7CA57;
}
.info{
	text-indent: -9999em;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('images/info_icon.png') center top no-repeat;
	width: 22px;
	height: 22px;
}
.info-close{
	text-indent: -9999em;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('images/exit_icon.png') center top no-repeat;
	width: 22px;
	height: 22px;
}
.logos{
	text-align: center;
	margin-top: 20px;
}
.sunlight{
	text-indent: -9999em;
	background: url('images/sunlight.png') center top no-repeat;
	width: 77px;
	height: 35px;
	display: inline-block;
	margin-right: 15px;
}
.knight{
	text-indent: -9999em;
	background: url('images/knightfoundation_logo.png') center top no-repeat;
	width: 153px;
	height: 35px;
	display: inline-block;
	margin-left: 15px;
	
}
.content-banner dl{
	text-shadow: none;
	font-size: 90%;
}
.content-banner dd{
	padding-left: 75px;
}
.consumer-reports{
	display: block;
font-style: oblique;
	font-weight: 400;
	color: black;
	text-transform: none;
	padding-top: 4px;
	background: url('images/bestbuy_star.png') left top no-repeat;
	padding-left: 27px;
}

.survey_experiences tbody{
	width: 50px;
	padding-right: 8px;
	padding-left: 8px;
	text-align: left;
}

.list .dialysis_adequacy {
    bottom: 11px;
    color: #D7CA57;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 40px;
}

.list .overall_ratings{
    bottom: 11px;
    position: absolute;
    right: 40px;
	height: 20px;
	padding-right: 7px;
}
.content-banner .top{
}
.content-banner .overall_rating{
	height: 20px;
	padding-right: 7px;
	float: right;
	margin-top: -23px;
}
.content-banner .dialysis_adequacy{
	height: 20px;
	padding-right: 0;
	float: right;
	margin-top: -31px;
	text-shadow: none;
}
.content-banner .dialysis_adequacy dd{
	color: #D7CA57 ;
	font-size: 16px;
	text-align: right;
	font-weight: 700;
	
}
.content-banner .dialysis_adequacy dt{
	font-size: 10px;
	text-align: right;
	text-transform: uppercase;
}


.nursing_home .occupancy dt{
	display: inline;
	padding-right: 15px;
	text-align: left;
}
.nursing_home .occupancy dd{
	text-align: left;
	display: inline;
	float: right;
	
}
.beds, .occupied, .residents{
	padding: 10px 8px;
	
}
.occupied{
	background-color: #E1E2E3;
}
.nursing_home dt {
    font-weight: 700;
	text-align: center;
}
.nursing_home dd{
	margin-left: 0;
}
.nursing_home dt, .nursing_home dd{
	font-size: 14px ;
	text-align: center;	
}
.health_survey, .fire_survey{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}
.sprinklers{
	font-size: 14px ;
	padding-top: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.inspections dd{
	margin-top: 5px;
}
.inspections .data{
	text-align: center;
	padding: 10px 8px;
}

dd.fully {
	width: 68px;
	height: 15px;
}
dd.partially {
	width: 68px;
	height: 15px;
}
dd.not {
	width: 68px;
	height: 15px;
}

.patient_survival{
	padding: 10px 8px 10px 8px;
	font-weight: 700;
	border-bottom: 2px dashed #d7ca57;
	
}
.patient_survival dt{
	font-size: 14px ;
	font-weight: 700;
	display: inline;
	text-transform: uppercase;
	
}
.patient_survival dd{
	font-size: 14px ;
	display: inline;
	margin-left: 10px;
	font-weight: 400;
}

.hac dd{
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 0;
	font-weight: 400;
	
}
.hac .incidents, .hac .eligible{
	font-weight: 700;
}


/* -------- Outliers Styling -------- */


.outliers .totals{
	text-shadow: none;
	font-size: 14px;
}

/*.above .ui-collapsible-heading-toggle  .outlier{
	background: url('images/outlier_up.png') right top no-repeat ;
	width: 25px;
	height: 28px;
	right: 12px;
	top: 0;	
	position: absolute;
}

.below .ui-collapsible-heading-toggle  .outlier{
	background: url('images/outlier_down.png') right top no-repeat;
	width: 25px;
	height: 28px;
	right: 12px;
	top: 0;
	position: absolute;
}

.above.below .ui-collapsible-heading-toggle .outlier{
	background: url('images/outlier_both.png')right top no-repeat;
	width: 55px;
	height: 28px;
	right: 12px;
	top: 0;
	position: absolute;
}*/
.totals>.below{
	display: block;
}
.outliers .indicators{
	display: inline;
}
.top .indicators dt {
	padding-right: 10px;
	float: none;
}

.indicators dt{
	font-size: 13px;
	text-align: center;
	letter-spacing: .5px;
	width: 67px;
	
}
.indicators dd{
	position: absolute;
	display: block;
	margin-left: 0;
	padding-left: 0;
}
.indicators dd.below{
	margin-left: 38px;
}
.indicators{
	right: 0;
	position: absolute;
}

.ui-collapsible-content .small{
	padding-left: 10px;
	font-size: 11px;
	width: auto;
}


.ui-collapsible-content .outliers{
	background-color: #898989;
	color: #ffffff;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

tr.below th{
	background: url('images/outlier_down.png') left center no-repeat;
	padding-left: 28px;
	margin-left: 5px;
}
tr.above th{
	background: url('images/outlier_up.png') left center no-repeat;
	padding-left: 28px;
	margin-left: 5px;
}
.content-banner .outlier.below{
	margin: 2px;
}
p.outlier-exp{
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.6;
	background: #E1E2E3;
	margin-top: 0;
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 10px;
	
}
.ui-collapsible-content .below-key{
	background: url('images/outlier_down_micro.png') left top no-repeat;
	width: 20px;
	height: 19px;
	display: inline-block;
	vertical-align: -6px;
}
.ui-collapsible-content .above-key{
	background: url('images/outlier_up_micro.png') left center no-repeat;
	width: 20px;
	height: 19px;
	display: inline-block;
	vertical-align: -6px;
}
.data tbody th{
	display: table-cell;
}

/* -------- Same and Better styling -------- */

.worse td{
	color: #d36649;
	font-weight: 700;
}
.better td{
	color: #689758;
	font-weight: 700;
}

/* -------- Star Ratings -------- */
td.rating-0, td.rating-1, td.rating-2, td.rating-3, td.rating-4, td.rating-5{
	float: right;
	height: 15px;
}

.rating-0{
	background: url('images/stars_zero.png') left center no-repeat;	
	width: 90px;
}
.rating-1{
	background: url('images/stars_one.png') left center no-repeat;
	width: 90px;
}
.rating-2{
	background: url('images/stars_two.png') left center no-repeat;
	width: 90px;
}
.rating-3{
	background: url('images/stars_three.png') left center no-repeat;
	width: 90px;
}
.rating-4{
	background: url('images/stars_four.png') left center no-repeat;
	width: 90px;
}
.rating-5{
	background: url('images/stars_five.png') left center no-repeat;
	width: 90px;
}

/* -------- Star Ratings -------- */

div.toast{
	position: fixed;
	bottom: 60px;
	text-align: center;
	width: 100%;
	opacity: 0.85;
	margin-bottom: 10px;
	
}
.toast-text{
	background: #4f4f4f ;
	opacity: 85%;
	padding: 10px;
	max-width: 85%;
	margin: 0 auto;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 2px solid #393939;
	color: #ffffff;
	font-size: 12px;
}


.warning{
	font-weight: bold;
}
.warning span{
	text-transform: uppercase;
}

#about .content-banner p.disclaimer{
	text-align: center;
	text-transform: uppercase;
}

p.special-focus{
	color: #d36649;
	font-weight: 700;
	text-align: center;
	font-size: 14px;
	margin: 2px 10px 0 10px;
}
p.notes.sf-disclaimer{
	font-size: 75%;
	text-align: center;
	margin-top: 0;
}
.sf-disclaimer a:link{
	color: #818181;
}
h2.page-title{
	text-align: center;
	color: #D7CA57;
	text-transform: uppercase;
	font-size: 125%;
}

/* -------- Image exceptions for mobile screens -------- */


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.content-banner h1 {
		background-image: url('images/SunlightHealth_logo_x2.png');
		-moz-background-size: 190px 165px;
		-o-background-size: 190px 165px;
		-webkit-background-size: 190px 165px;
		background-size: 190px 165px;
	}
	.scallop{
		background: url('images/bg_header_scallop_x2.png') top center repeat-x;
		-moz-background-size: 37px 27px;
		-o-background-size: 37px 27px;
		-webkit-background-size: 37px 27px;
		background-size: 37px 27px;	
	}
	.info{
		background: url('images/info_icon_x2.png') center top no-repeat;
		-moz-background-size: 19px 19px;
		-o-background-size: 19px 19px;
		-webkit-background-size: 19px 19px;
		background-size: 19px 19px;
	}
	.page{ 
	    background: url('images/bg_grid_x2.jpg') center top repeat;
		-moz-background-size: 20px 19px;
		-o-background-size: 20px 19px;
		-webkit-background-size: 20px 19px;
		background-size: 20px 19px;
	}
	#supplier_map .buttons{
		background: url('images/bg_search_hover_x2.png');
		-moz-background-size: 355px 75px;
		-o-background-size: 355px 75px;
		-webkit-background-size: 355px 75px;
		background-size: 355px 75px;
	}
	.best-buy h3{
		background: url('images/bestbuy_star_x2.png') left top no-repeat;
		-moz-background-size: 17px 15px;
		-o-background-size: 17px 15px;
		-webkit-background-size: 17px 15px;
		background-size: 17px 15px;
	}
	.more{
		background:url('images/bg_more_x2.png') center top repeat-x;
		-moz-background-size: 12px 40px;
		-o-background-size: 12px 40px;
		-webkit-background-size: 12px 40px;
		background-size: 12px 40px;
	}

	.more a:link{
		background:url('images/more_arrows_x2.png') right top no-repeat;
		-moz-background-size: 19px 17px;
		-o-background-size: 19px 17px;
		-webkit-background-size: 19px 17px;
		background-size: 19px 17px;
	}
	div.map.buttons {
		background: url('images/bg_collapsible_header_x2.jpg') center center repeat-x ;
		-moz-background-size: 357px 90px;
		-o-background-size: 357px 90px;
		-webkit-background-size: 357px 90px;
		background-size: 357px 90px;
	}
	.info-close{

		background: url('images/exit_icon_x2.png') center top no-repeat;
		-moz-background-size: 19px 19px;
		-o-background-size: 19px 19px;
		-webkit-background-size: 19px 19px;
		background-size: 19px 19px;
	}
	.sunlight{
		background: url('images/sunlight_x2.png') center top no-repeat;
		-moz-background-size: 77px 35px;
		-o-background-size: 77px 35px;
		-webkit-background-size: 77px 35px;
		background-size: 77px 35px;
	}

	.ui-collapsible-heading-toggle .above{
		background: url('images/outlier_up_x2.png') right top no-repeat ;
		-moz-background-size: 28px 25px;
		-o-background-size: 28px 25px;
		-webkit-background-size: 28px 25px;
		background-size: 28px 25px;
	}
	.ui-collapsible-heading-toggle .below{
		background: url('images/outlier_down_x2.png') right top no-repeat;
		-moz-background-size: 28px 25px;
		-o-background-size: 28px 25px;
		-webkit-background-size: 28px 25px;
		background-size: 28px 25px;
	}
	.above.below .ui-collapsible-heading-toggle .outlier{
		background: url('images/outlier_both_x2.png')right top no-repeat;
		-moz-background-size: 55px 25px;
		-o-background-size: 55px 25px;
		-webkit-background-size: 55px 25px;
		background-size: 55px 25px;
	}
	tr.below th{
		background: url('images/outlier_down_x2.png') left center no-repeat;
		-moz-background-size: 28px 25px;
		-o-background-size: 28px 25px;
		-webkit-background-size: 28px 25px;
		background-size: 28px 25px;
	}
	tr.above th{
		background: url('images/outlier_up_x2.png') left center no-repeat;
		-moz-background-size: 28px 25px;
		-o-background-size: 28px 25px;
		-webkit-background-size: 28px 25px;
		background-size: 28px 25px;
	}
	.rating-0{
		background: url('images/stars_zero_x2.png') left center no-repeat;	
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.rating-1{
		background: url('images/stars_one_x2.png') left center no-repeat;
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.rating-2{
		background: url('images/stars_two_x2.png') left center no-repeat;
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.rating-3{
		background: url('images/stars_three_x2.png') left center no-repeat;
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.rating-4{
		background: url('images/stars_four_x2.png') left center no-repeat;
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.rating-5{
		background: url('images/stars_five_x2.png') left center no-repeat;
		-moz-background-size: 98px 15px;
		-o-background-size: 98px 15px;
		-webkit-background-size: 98px 15px;
		background-size: 98px 15px;
	}
	.knight{
		background: url('images/knightfoundation_logo_x2.png')center top no-repeat;
		-moz-background-size: 138px 35px;
		-o-background-size: 138px 35px;
		-webkit-background-size: 138px 35px;
		background-size: 138px 35px;
	}
	.ui-collapsible-content .below-key{
		background: url('images/outlier_down_micro_x2.png') left center no-repeat;
		-moz-background-size: 20px 18px;
		-o-background-size: 20px 18px;
		-webkit-background-size: 20px 18px;
		background-size: 20px 18px;
	}
	.ui-collapsible-content .above-key{
		background: url('images/outlier_up_micro_x2.png') left center no-repeat;
		-moz-background-size: 20px 18px;
		-o-background-size: 20px 18px;
		-webkit-background-size: 20px 18px;
		background-size: 20px 18px;
	}
	

}

