/** many of these class names are depended on in JavaScript **/

.reveal {display: none;} /* used as a hook in common JS functions */
.hidden {display: none;} /* must be shown manually */

div.page.map_parent {height: 100%;}

div.map.container, div.map_canvas {width: 100%; height: 100%; padding: 0px;}
div.map.buttons {
  position: fixed; z-index: 9; width: 100%; bottom: 0; padding-top: 10px; padding-bottom: 10px;
	background: url('images/bg_collapsible_header.jpg') center center repeat-x ;
}

table.data {width: 100%;}
table.data thead th {}
table.data tbody th {font-weight: 700;}
table.data tbody td {}



h1{
	text-transform: uppercase;
	color: #aeaeae;
	font-weight: 400;
}

.ui-bar-a .ui-header{
	text-transform: capitalize;
}


#suppliers .content-banner p, #facilities .content-banner p, #drugs .content-banner p, #about .content-banner p{
	text-align: center;
	line-height: 1.75;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	border: none;
	margin: 0;
	text-shadow: none;
	padding-top: 10px;
	font-size: 14px;
	color: white;
}

#about .content-banner p{
	text-align: left;
}


.content-banner h1{
	background: url('images/SunlightHealth_logo.png') top center no-repeat;
	width: 189px;
	height: 130px;
	text-indent: -9999em;
	margin: auto;
}



.page{
    background: url('images/bg_grid.jpg') center top repeat;
}

/*#suppliers .content-banner, #drugs .content-banner{
	background: url('images/content-banner-suppliers.png') top center repeat-x;
	height: 237px;
	padding: 7px;
}*/

#about .ui-body-c{
	background: none;
	padding-top: 10px;
}

.ui-body-c{
	text-shadow: none;
}


.content-banner {
	background-image: -moz-linear-gradient(top, #007592 0%, #5190AA 50%, #007592 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007592), color-stop(50%,#5190AA), color-stop(100%,#007592)); /* webkit */
	padding: 7px;
	border: none;
	margin: 0;
}
.scallop{
	background: url('images/bg_header_scallop.png') top center repeat-x;
	height: 27px;
	width: 100%;
	margin-top: -1px; /* This hides that wacky blue border that shows up on Android devices under pngs and CSS3 gradients. */
	margin-bottom: 0;
	border: none;	
}
h3.name{
	text-shadow: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 100%;
	letter-spacing: 1.5px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.address{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
.top{
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}
.content-banner p.phone{
	font-weight: 700;
}

#supplier_detail .ui-content{
	color: #4c4c4c;
}

.data thead>tr>th{
	font-size: 12px;
}
	
.data tr>th{
	padding-right: 5px;
	width: 90%;
	text-align: left;
}	

table.data td.hosp, table.data th.hosp, table.data td.state, table.data th.state{
	text-transform: uppercase;
}

.max-width-480px th{
	text-align: left;
}
table.data{
	border-collapse:collapse;
	font-size: 14px;
}	
#supplier_map .ui-bar-a{
	top:0;
	position:absolute;
	width:100%;
	z-index:9;
}

.gmnoprint{ 
	top: 50px;
}
#supplier_map .buttons{
	opacity:0.95 !important;
	background: url('images/bg_search_hover.png');
	padding-top: 15px;
	padding-bottom: 15px;
}

.buttons.ui-grid-a{
	padding-bottom: 10px;
}
tr.odd{

}

.data th, .data td{
	padding: 10px 8px;
}
.data tbody th{
	padding-left: 8px;
	overflow:hidden;
	display: block;
}
tr.even{
	background-color: #e1e2e3;
	padding-top: 5px;	
}
#drug_chemical .data td{
	text-align: right;
}
#suppliers, #suppliers_list, #suppliers_detail{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
}
.top dt{
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 15px;
	text-align: right;
	width: 70px;
	line-height: 1.5;
}

.top dd{
	line-height: 1.5;
}

td.cost{
	color: #4c4c4c;
	font-weight: 700;
	padding-right: 10px;
}

.notes{
	color: #4c4c4c;
	font-size: 90%;
}


.notes dt{
	font-weight: 700;
	padding-right: 15px;
	line-height: 1.5;
	width: 80%;
	margin-top: 10px;
	text-shadow: none;
}

.notes dd{
	line-height: 1.5;
	text-align: left;
	margin: 0;
	font-weight: 400;
	text-shadow: none;
	
}

.clear{
	clear: both;
}

.ui-collapsible-content h2 {
	color: #4c4c4c;
	text-transform: uppercase;
	font-size: 90%;
	padding-left: 10px;
	margin-bottom: 10px;
}
h3.dosage{
	color: #006f8b;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 90%;
	text-align: left;
	margin-top: 0;
	padding-top: 4px;
	padding-top: 4px;
	margin-bottom: 0;
	letter-spacing: normal;
	
}

tr.best-buy{
	background-color: #d3d5d6;
}

.best-buy h3{
	background: url('images/bestbuy_star.png') left top no-repeat;
	padding-left: 27px;
}
.description{
	color: #4c4c4c;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 	79%;
	line-height: 1.25;
}
.chemicals li.ui-li-divider{
	padding-left: 25px;
	background: none;
	background-color: #898989;
}

#drug_chemical{
	padding-bottom: 50px;
}

.more{
	background:url('images/bg_more.png') center top repeat-x;
	height: 30px;
	padding: 10px 10px 0 10px;
	margin: 0;
	text-shadow: none;
}

.more a:link{
	background:url('images/more_arrows.png') right top no-repeat;
	padding-right: 20px;
	font-style: oblique;
	color: #818181;
	font-size: 14px;
}
.more a:visited{
	color: #818181;
}
.info{
	text-indent: -9999em;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('images/info_icon.png') center top no-repeat;
	width: 22px;
	height: 22px;
}
.info-close{
	text-indent: -9999em;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('images/exit_icon.png') center top no-repeat;
	width: 22px;
	height: 22px;
}
.sunlight{
	text-indent: -9999em;
	background: url('images/sunlight.png') center top no-repeat;
	width: 153px;
	height: 35px;
	margin: auto;
	margin-top: 10px;
}

.content-banner dl{
	text-shadow: none;
	font-size: 90%;
}
.content-banner dd{
	padding-left: 50px;
}
.consumer-reports{
	display: block;
	margin-left: -27px;
	font-style: oblique;
	font-weight: 400;
	color: black;
	text-transform: none;
	padding-top: 5px;
}

.survey_experiences tbody{
	width: 50px;
	padding-right: 8px;
	padding-left: 8px;
	text-align: left;
}

.list .dialysis_adequacy {
    bottom: 11px;
    color: #D7CA57;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 40px;
}

.list .overall_ratings{
    bottom: 11px;
    position: absolute;
    right: 40px;
	height: 20px;
	padding-right: 7px;
}
.content-banner .top{
}
.content-banner .overall_rating{
	height: 20px;
	padding-right: 7px;
	float: right;
	margin-top: -23px;
}
.content-banner .dialysis_adequacy{
	height: 20px;
	padding-right: 0;
	float: right;
	margin-top: -31px;
	text-shadow: none;
}
.content-banner .dialysis_adequacy dd{
	color: #D7CA57 ;
	font-size: 16px;
	text-align: right;
	font-weight: 700;
	
}
.content-banner .dialysis_adequacy dt{
	font-size: 10px;
	text-align: right;
	text-transform: uppercase;
}
.occupancy .ui-collapsible-content, .inspections .ui-collapsible-content{
	padding: 10px 8px;
	margin: auto;
	text-align: center;
}
.occupancy .percent{
	font-size: 20px;
	font-weight: 700;
	color: #D7CA57 ;
}

.nursing_home dt {
    font-weight: 700;
	text-align: center;
}
.nursing_home dd{
	margin-left: 0;
}
.nursing_home dt, .nursing_home dd{
	font-size: 14px ;
	text-align: center;	
}
.beds, .residents, .health_survey, .fire_survey, .sprinklers{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

dd.fully {
	width: 14px;
	height: 14px;
	background: url('images/sprinklers_fully.png') top center no-repeat ;
}
dd.partially {
	width: 14px;
	height: 14px;
	background: url('images/sprinklers_partially.png') top center no-repeat ;
}
dd.not {
	width: 14px;
	height: 14px;
	background: url('images/sprinklers_not.png') top center no-repeat ;
}

.patient_survival{
	padding: 20px 8px 10px 8px;
	font-weight: 700;
	
}
.patient_survival dt{
	font-size: 14px ;
	font-weight: 700;
	display: inline;
	
}
.patient_survival dd{
	font-size: 14px ;
	display: inline;
	margin-left: 10px;
	text-transform: uppercase;
}



/* -------- Outliers Styling -------- */


.outliers .totals{
	text-shadow: none;
	font-size: 14px;
	padding-top: 10px;
}

.ui-collapsible-heading-toggle .above, .content-banner .outlier.above{
	background: url('images/outlier_up.png') right 2px no-repeat ;
	font-weight: 700;
	font-size: 16px;
	padding-right: 20px;
	color: #d7ca57;
}


.ui-collapsible-heading-toggle .below, .content-banner .outlier.below{
	background: url('images/outlier_down.png') right 2px no-repeat;
	font-weight: 700;
	font-size: 16px;
	padding-right: 20px;
	color: #d7ca57;
}
.totals>.below{
	display: block;
}

.small{
	font-size: 70%;
	padding-top: 0;
}

.ui-collapsible-content .small{
	padding-left: 10px;
}

.ui-collapsible-content .outliers{
	background-color: #898989;
	color: #ffffff;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-collapsible-heading-toggle .below{
	right: 0;
	position: absolute;
	margin-right: 10px;
}
.ui-collapsible-heading-toggle .above{
	right: 0;
	position: absolute;
	margin-right:50px;

}
tr.below th{
	background: url('images/outlier_down.png') left top no-repeat;
	padding-left: 15px;
	margin-left: 5px;
	padding-top: 0;
	margin-top: 10px;
}
tr.below th{
	background: url('images/outlier_up.png') left top no-repeat;
	padding-left: 15px;
	margin-left: 5px;
}

/* -------- Search Results Loading Dialogue -------- */



/* -------- Star Ratings -------- */

.rating-0{
	background: url('images/stars_zero.png') left center no-repeat;	
	width: 90px;
}
.rating-1{
	background: url('images/stars_one.png') left center no-repeat;
	width: 90px;
}
.rating-2{
	background: url('images/stars_two.png') left center no-repeat;
	width: 90px;
}
.rating-3{
	background: url('images/stars_three.png') left center no-repeat;
	width: 90px;
}
.rating-4{
	background: url('images/stars_four.png') left center no-repeat;
	width: 90px;
}
.rating-5{
	background: url('images/stars_five.png') left center no-repeat;
	width: 90px;
}

/* -------- Star Ratings -------- */

div.toast{
	position: fixed;
	bottom: 60px;
	text-align: center;
	width: 100%;
	opacity: 0.85;
	margin-bottom: 10px;
	
}
.toast-text{
	background: #4f4f4f ;
	opacity: 85%;
	padding: 10px;
	max-width: 85%;
	margin: 0 auto;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 2px solid #393939;
	color: #ffffff;
	font-size: 12px;
}

/* -------- Image exceptions for mobiel screens -------- */


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.content-banner h1 {
		background-image: url('images/SunlightHealth_logo_x2.png');
		-moz-background-size: 189px 130px;
		-o-background-size: 189px 130px;
		-webkit-background-size: 189px 130px;
		background-size: 189px 130px;
	}
	.scallop{
		background: url('images/bg_header_scallop_x2.png') top center repeat-x;
		-moz-background-size: 37px 27px;
		-o-background-size: 37px 27px;
		-webkit-background-size: 37px 27px;
		background-size: 37px 27px;	
	}
	.info{
		background: url('images/info_icon_x2.png') center top no-repeat;
		-moz-background-size: 19px 19px;
		-o-background-size: 19px 19px;
		-webkit-background-size: 19px 19px;
		background-size: 19px 19px;
	}
	.page{ 
	    background: url('images/bg_grid_x2.jpg') center top repeat;
		-moz-background-size: 20px 19px;
		-o-background-size: 20px 19px;
		-webkit-background-size: 20px 19px;
		background-size: 20px 19px;
	}
	#supplier_map .buttons{
		background: url('images/bg_search_hover_x2.png');
		-moz-background-size: 355px 75px;
		-o-background-size: 355px 75px;
		-webkit-background-size: 355px 75px;
		background-size: 355px 75px;
	}
	.best-buy{
		background: url('images/bestbuy_star_x2.png') left top no-repeat;
		-moz-background-size: 20px 18px;
		-o-background-size: 20px 18px;
		-webkit-background-size: 20px 18px;
		background-size: 20px 18px;
	}
	.more{
		background:url('images/bg_more_x2.png') center top repeat-x;
		-moz-background-size: 12px 40px;
		-o-background-size: 12px 40px;
		-webkit-background-size: 12px 40px;
		background-size: 12px 40px;
	}

	.more a:link{
		background:url('images/more_arrows_x2.png') right top no-repeat;
		-moz-background-size: 19px 17px;
		-o-background-size: 19px 17px;
		-webkit-background-size: 19px 17px;
		background-size: 19px 17px;
	}


}

