/** many of these class names are depended on in JavaScript **/

.reveal {display: none;} /* used as a hook in common JS functions */
.hidden {display: none;} /* must be shown manually */


div.page {height: 100%;}

div.map.container, div.map_canvas {width: 100%; height: 100%; padding: 0px;}
div.map.buttons {
  position: absolute; z-index: 9; width: 100%; bottom: 0;
}

table.data {width: 100%;}
table.data thead th {}
table.data tbody th {font-weight: normal;}
table.data tbody td {}



h1{
	text-transform: uppercase;
	color: #aeaeae;
	font-weight: 400;
}

.ui-bar-a .ui-header{
	text-transform: capitalize;
}


#suppliers .content-banner p{
	text-align: center;
	line-height: 1.5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	
}

#suppliers h1{
	background: url('images/logo_placeholder.png') top center no-repeat;
	width: 100px;
	height: 98px;
	text-indent: -9999em;
	margin: auto;
}

#suppliers, #supplier_detail{
    background: url('images/bg_grid.jpg') center top repeat;
}

#suppliers .content-banner{
	background: url('images/content-banner-suppliers.png') top center repeat-x;
	height: 237px;
	padding: 7px;
}


#stickey_footer { /* This will make your footer stay where it is */
 bottom: 0;
 position: fixed;

}

#supplier_detail .content-banner{
	background: -moz-linear-gradient(top, #007592 0%, #5190AA 50%, #007592 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007592), color-stop(50%,#5190AA), color-stop(100%,#007592)); /* webkit */
	padding: 7px;
}
.scallop{
	background: url('images/bg_header_scallop.png') bottom center repeat-x;
	height: 29px;
	width: 100%;
	margin-bottom: 10px;
	
}
h3.name{
	text-shadow: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 19px;
	letter-spacing: 1.5px;
	color: #ffffff;
}
.address{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}
.top{
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}
.phone{
	font-weight: bold;
}

#supplier_detail .ui-content{
	color: #4c4c4c;
}

thead>tr>#col-head{
	float: right;
	font-size: 12px;
}
	
tbody>tr>th{
	float: left;
	padding-right: 5px;
}	
tbody>tr>td{
	float: right;
}

.data td.hosp, .data td.state, .data th.hosp, .data th.state{
	width: 50px;
	padding-right: 8px;
	padding-left: 8px;
	text-align: left;
	text-transform: uppercase;

}
table.data{
	border-collapse:collapse;
	font-size: 14px;
}	
#supplier_map .ui-bar-a{
	top:0;
	position:absolute;
	width:100%;
	z-index:9;
}

.gmnoprint{ 
	top: 50px;
}
#supplier_map .buttons{
	opacity:0.95 !important;
	background: url('images/bg_search_hover.png');
	padding-top: 15px;
	padding-bottom: 15px;
}
tr.odd{
	background-color: #d9d9d9;
	padding-top: 5px;
}

.data th, .data td{
	padding: 10px 0;
}
.data tbody th{
	padding-left: 8px;
	overflow:hidden;
	display: block;
}
.even{
	
}
#suppliers, #suppliers_list, #suppliers_detail{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
}
