/* Full screen - Removing padding from content area */

.ui-content { 
	padding: 0;
}




.ui-corner-all{
	border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.ui-icon{
	width: 20px;
	height: 20px;
}

/* -------- Radio Button styling -------- */
.ui-controlgroup, fieldset.ui-controlgroup, .min-width-480px .ui-field-contain{
	margin-top: 0;
}

.ui-corner-left{
	border-bottom-left-radius: 0.9em;
    border-top-left-radius: 0.9em;
}

.ui-corner-right{
    border-bottom-right-radius: 0.9em;
    border-top-right-radius: 0.9em;
}

.ui-radio .ui-btn-active{
	background: #908f8f;
	text-shadow: 0 0 10px #bfbfbf;
	border-color: #908f8f;
    border-style: solid;
    border-width: 1px;
    color: #006c87;
	font-weight: 400;
} 	/* Styles background, basic exterior border, and text  */

.ui-controlgroup .ui-radio label{
	font-size: 70%;
	text-transform: uppercase;
}

.ui-radio .ui-btn-inner{
	border-top-color: rgba(255, 255, 255, 0.3);
    border-top-style: solid;
    border-top-width: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 70px;
	text-align: center;
	
}/* Styles that really faint border at top of button. Causes a beveled effect.  */

/*.ui-radio .ui-btn-active .ui-btn-text{
	padding-left: 17px;
	background: url('images/icons-18-white.png') -363px -4px;
} Adding GPS icon ... or other image to button text  */

fieldset.ui-controlgroup{
	text-align: center;
}



/* -------- Button styling -------- */

.ui-btn-inner{
	padding-top: 7px;
	padding-bottom: 7px;
}

.ui-btn-up-c{
	background: #bfbfbf;
	text-shadow: 0 0 4px #908f8f;
	font-size: 70%;
	text-transform: uppercase;
	font-weight: 400;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */

.ui-btn-hover-c{
	background: #bfbfbf;
	text-shadow: 0 0 4px #908f8f;
	font-size: 70%;
	text-transform: uppercase;
	font-weight: 400;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */

.ui-br {
	border-bottom: none;
} 	/* Removes strange border that shows up just above the search field ... related to the div that's above it.  */

.min-width-480px input.ui-input-text, .min-width-480px textarea.ui-input-text, .min-width-480px .ui-input-search {
	width: 100%;
}

.ui-icon-arrow-d {
background-position: -216px 50% ;
}

.ui-select .ui-btn{
	text-align: left;
}

.ui-btn.ui-shadow{
	box-shadow: none;
}

.ui-btn-icon-left .ui-icon, .ui-btn-icon-right .ui-icon{
	top: 47%;
}

.call .ui-btn-text{
	background: url('images/icon_phone.png') left center no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ececec;
}
.directions .ui-btn-text{
	background: url('images/icon_directions.png') left center no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ececec;
}


/* -------- Text Field Styling -------- */

input.ui-input-text, textarea.ui-input-text {
	font-size: 80%;
	padding-left: 25px;
	margin-left:5px ;
	padding-top: 7px;
	padding-bottom: 7px;
}



/* -------- Global Nav Styling -------- */



#facilities_nav .ui-icon-nav-icons{
	background: url('images/icons-18-nav.png') -48px 50% no-repeat;
	width: 34px;
	height: 32px;
	margin-left: -16px;
	border-radius: 0;
}
#suppliers_nav .ui-icon-nav-icons{
	background: url('images/icons-18-nav.png') -144px 50% no-repeat;
	width: 34px;
	height: 32px;
	margin-left: -16px;
	border-radius: 0;
	
}
#drugs_nav .ui-icon-nav-icons{
	background: url('images/icons-18-nav.png') -234px 50% no-repeat;
	width: 34px;
	height: 32px;
	margin-left: -16px;
	border-radius: 0;
	
}

#facilities_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons{
	background-position: -331px 50%;

}

#suppliers_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons{
	background-position: -427px 50%;

}

#drugs_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons{
	background-position: -517px 50%;

}
.ui-navbar li .ui-btn, .ui-navbar .ui-navbar-toggle .ui-btn{
	font-size: 70%;
	font-weight: 400;
	text-transform: uppercase;
}

.ui-navbar .ui-btn-up-a{
	background:url('images/bg_footer.jpg') center center repeat-x ;
}
.ui-navbar .ui-btn-hover-a, .ui-btn-active.ui-state-persist{
	background:url('images/bg_footer_hover.jpg') center center repeat-x ;
}

.ui-footer .ui-btn-icon-top .ui-btn-inner {
	padding-top: 39px;
} /* Moves text below icon */

#suppliers_nav.ui-btn-active.ui-state-persist, #facilities_nav.ui-btn-active.ui-state-persist, #drugs_nav.ui-btn-active.ui-state-persist{
	border: none;
}
#suppliers_nav .ui-btn-inner{
	border-right: 2px solid #414141;
	border-left: 2px solid #1e1e1e;
}

#facilities_nav .ui-btn-inner{
	border-right: 2px solid #414141;
}

#drugs_nav .ui-btn-inner{
	border-left: 2px solid #1e1e1e;
}


/* -------- Auto Search Result List Styling -------- */

.list .ui-btn-up-e, .list .ui-btn-up-c{
	background: url('images/bg_search.jpg') center center repeat-x;
	border-top-color: #4f4f4f;
	border-bottom-color: #8f8d8d;
	border-width: 1px;
}

.list .ui-btn-hover-e, .list .ui-btn-hover-c{
	background: url('images/bg_search_hover.jpg') center center repeat-x;
	border-top-color: #4f4f4f;
	border-bottom-color: #8f8d8d;
	border-width: 1px;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-left: 25px;
	padding-right: 25px;
}

.ui-content .autosearch_results .ui-listview{
	margin-top: 0;
}

.list .ui-icon{
	background-color: transparent;
}

.ui-icon-arrow-r{
	background-position: -108px 50% ;
}






 /* Fixes icon positioning for mobile devices. Still doesn't explain where those 40 pixels are coming from.  */


/* -------- All Search Results Text Styling -------- */
.list .ui-li-heading{
	font-size: 12.8px;
	text-transform: uppercase;
	color: #282828;
	text-shadow: 0 1px 0 #bcbcbc;
	
}

.list .ui-li-desc{
	text-transform: normal;

}

.ui-content .ui-listview{
	margin-top: 0;
	margin-bottom: 0;
}

.ui-btn-icon-right .ui-icon{
	right: 20px;
}

.ui-btn-up-c a.ui-link-inherit{
	color: #282828;
}

.ui-btn-hover-c a.ui-link-inherit{
	color: #282828;
}
.ui-btn-down-c a.ui-link-inherit{
	color: #282828;
}

/* -------- Collapsible Heading Styling -------- */
.ui-bar-b{
	text-transform: capitalize;
	border-top: none;
	text-shadow: none;
}

.ui-collapsible-heading .ui-btn-up-c{
	background:url('images/bg_collapsible_header.jpg') center center repeat-x ; 
}
.ui-collapsible-heading .ui-btn-hover-c{
	background:url('images/bg_collapsible_header_hover.jpg') center center repeat-x ; 
}

.ui-icon-plus{
	background-color: #464646;
	background-position: 1px 50%;
}

.ui-collapsible-heading .ui-btn{
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.ui-collapsible-heading .ui-btn-inner{
	border: none;
}

.ui-collapsible-contain{
	margin-top: 0;
	margin-bottom: 0;
}


.ui-collapsible-contain .ui-btn-up-c{
	text-shadow: 0 1px 0 #8f8d8d;
	color: #363636;
	border-top-color: #4f4f4f;
	border-bottom-color: #8f8d8d;
	border-width: 1px;
	font-size: 80%;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */
.ui-collapsible-contain .ui-btn-hover-c{
	text-shadow: 0 1px 0 #8f8d8d;
	border-top-color: #4f4f4f;
	border-bottom-color: #8f8d8d;
	border-width: 1px;
	font-size: 80%;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */

.ui-collapsible-heading a span.ui-btn{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	border: none;
}

.ui-collapsible-heading .ui-btn-up-d{
	background-color: #787878 ;
}
.ui-collapsible-heading .ui-btn-hover-d{
	background-color: #787878 ;
	background-image: none;
}


.ui-collapsible-heading .ui-icon-shadow {
	box-shadow: none;
}


/* -------- Page Heading Styling -------- */

.ui-bar-a{
	background: url('images/bg_header.jpg')center center repeat-x;
}



/* -------- Collapsible Content Styling -------- */

.ui-collapsible-content{
	padding-left: 0;
	padding-right: 0;
	
}

.ui-collapsible-contain .ui-collapsible-content{
	padding-top: 0;
	padding-bottom: 0;
	
}


/* -------- Image exceptions for mobile screens -------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 630px 18px;
		-o-background-size: 630px 18px;
		-webkit-background-size: 630px 18px;
		background-size: 630px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
	#facilities_nav .ui-icon-nav-icons, #suppliers_nav .ui-icon-nav-icons, #drugs_nav .ui-icon-nav-icons, #facilities_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons, #suppliers_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons, #drugs_nav.ui-btn-active.ui-state-persist .ui-icon-nav-icons {
		background-image: url(images/icons-32-nav.png);
		-moz-background-size: 600px 36px;
		-o-background-size: 600px 36px;
		-webkit-background-size: 600px 36px;
		background-size: 600px 36px;
	}
	.ui-navbar .ui-btn-up-a{
		background:url('images/bg_footer_x2.jpg') center center repeat-x ;
		-moz-background-size: 425px 65px;
		-o-background-size: 425px 65px;
		-webkit-background-size: 425px 65px;
		background-size: 425px 65px;
	}
	.ui-navbar .ui-btn-hover-a, .ui-btn-active.ui-state-persist{
		background:url('images/bg_footer_hover_x2.jpg') center center repeat-x ;
		-moz-background-size: 425px 65px;
		-o-background-size: 425px 65px;
		-webkit-background-size: 425px 65px;
		background-size: 425px 65px;
	}
	.list .ui-btn-up-e, .list .ui-btn-up-c{
		background: url('images/bg_search_x2.jpg') center center repeat-x;
		-moz-background-size: 355px 75px;
		-o-background-size: 355px 75px;
		-webkit-background-size: 355px 75px;
		background-size: 355px 75px;
	}

	.list .ui-btn-hover-e, .list .ui-btn-hover-c{
		background: url('images/bg_search_hover_x2.jpg') center center repeat-x;
		-moz-background-size: 355px 75px;;
		-o-background-size: 355px 75px;
		-webkit-background-size: 355px 75px;
		background-size: 355px 75px;
	}
	.ui-collapsible-heading .ui-btn-up-c{
		background:url('images/bg_collapsible_header_x2.jpg') center center repeat-x ; 
		-moz-background-size: 357px 90px;
		-o-background-size: 357px 90px;
		-webkit-background-size: 357px 90px;
		background-size: 357px 90px;
	}
	.ui-collapsible-heading .ui-btn-hover-c{
		background:url('images/bg_collapsible_header_hover_x2.jpg') center center repeat-x ; 
		-moz-background-size: 357px 90px;
		-o-background-size: 357px 90px;
		-webkit-background-size: 357px 90px;
		background-size: 357px 90px;
	}
	.ui-bar-a{
		background: url('images/bg_header_x2.jpg')center center repeat-x;
		-moz-background-size: 357px 46px;
		-o-background-size: 357px 46px;
		-webkit-background-size: 357px 46px;
		background-size: 357px 46px;
	}

}




