/* Full screen - Removing padding from content area */

.ui-content { 
	padding: 0; 
}

.ui-bar-a, .ui-footer, .stickey_footer {
	margin: none;
}



.ui-corner-all{
	border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}


/* -------- Radio Button styling -------- */

.ui-corner-left{
	border-bottom-left-radius: 0.9em;
    border-top-left-radius: 0.9em;
}

.ui-corner-right{
    border-bottom-right-radius: 0.9em;
    border-top-right-radius: 0.9em;
}

.ui-radio .ui-btn-active{
	background: #908f8f;
	text-shadow: 0 0 10px #bfbfbf;
	border-color: #908f8f;
    border-style: solid;
    border-width: 1px;
    color: #006c87;
	font-weight: 400;
} 	/* Styles background, basic exterior border, and text  */

.ui-controlgroup .ui-radio label{
	font-size: 75%;
	text-transform: uppercase;
}

.ui-radio .ui-btn-inner{
	border-top-color: rgba(255, 255, 255, 0.3);
    border-top-style: solid;
    border-top-width: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 70px;
	text-align: center;
	
}/* Styles that really faint border at top of button. Causes a beveled effect.  */

.ui-radio .ui-btn-active .ui-btn-text{
	padding-left: 17px;
	background: url('images/icons-18-white.png') -363px -4px;
}/* Adding GPS icon ... or other image to button text  */


/* -------- Button styling -------- */

.ui-btn-up-c{
	background: #bfbfbf;
	text-shadow: 0 0 10px #908f8f;
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 400;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */

.ui-btn-hover-c{
	background: #bfbfbf;
	text-shadow: 0 0 10px #908f8f;
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 400;
	
} 	/* General Button Styling, applies to all buttons...but maybe not the radio buttons?  */